<h1><%= @product.name %></h1>

<%= button_to "Edit product", 
              edit_album_path(@product),
              method: :get %>

<%= button_to "Delete product", 
              product_path(@product),
              method: :delete %> 

<%= button_to "Return to Products Page", 
              Products_path,
              method: :get %>