<h2>Welcome</h2>

<h3>Recently added</h3>

<ul>
  <% @products_most_recent.each do |product| %>
    <p>
      <li><%= link_to product.name, product_path(product) %></li>
    </p>
  <% end %>
</ul>

<h3>Most Reviews</h3>

<ul>
  <% @products_most_recent.each do |product| %>
    <p>
      <li><%= link_to product.name, product_path(product) %></li>
    </p>
  <% end %>
</ul>

<h3>USA Products</h3>

<ul>
  <% @products_local_product.each do |product| %>
    <p>
      <li><%= link_to product.name, product_path(product) %></li>
    </p>
  <% end %>
</ul>